nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 3.5rem;
    background-color: #C3D996;
    overflow: hidden;
    position: fixed;
    top: 0;
    padding-right: 12.3125rem;        
}
nav > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.nav-logo, .nav-options-container{
    width: fit-content;
    height: fit-content;
}
.nav-logo > img{
    max-width: 12.3125rem;
    height: auto;
}

.nav-options-container > .nav-options{
    list-style: none;
    display: flex;    
    align-items: center;
}
.nav-options > li > a{    
    font-weight: 400;
    font-size: 1.25rem;
    font-family: 'Bebas Neue', cursive;
    color: #2F401E;
    margin: 0px 1.525rem;
    cursor: pointer;
    display: block;
  position: relative;
  padding: 0.2em 0;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #2F401E;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  a:hover::after,
  a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.02em, 0);
  }